<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DB File Name</key>
	<string>mainDB.sqlite</string>
	<key>DB File Directory</key>
	<string>Data</string>
	<key>Manager username</key>
	<string>root</string>
	<key>Manager password</key>
	<string>root</string>
	<key>Emal From Account</key>
	<string></string>
	<key>Email Password</key>
	<string></string>
	<key>Email SMTP Host</key>
	<string></string>
	<key>Email Requires Auth</key>
	<string>YES</string>
	<key>Email Port</key>
	<integer>0</integer>
	<key>Email ValidateSSLChain</key>
	<string>YES</string>
</dict>
</plist>
