<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DB File Name</key>
	<string>mainDB.sqllite3</string>
	<key>DB File Directory</key>
	<string>Data</string>
	<key>Manager username</key>
	<string>root</string>
	<key>Manager password</key>
	<string>root</string>
</dict>
</plist>
